.createbody{
background:url('../images/bg_emp002.jpg')no-repeat center fixed;
background-size: cover;
}
.main{
    text-align:center;
    width:100%;
    border:3px solid white;
    background-color:transparent;
    margin-top:10%;
    margin-left:10%;
    border-radius:10px;
    color:white;
}

.text_inp{
color:white;
font-size: 17px;
font-weight: 500;
width:92%;
margin-top:5%;
border: 0;
border-bottom: 2px solid white;
outline: 0;
background:transparent;
}
 ::placeholder {
    color: white;
    }
.btn_submit{
width:92%;
margin-bottom:5%;
background-color: white;
color: blue;
border: hidden;
font-size:25px;
font-weight: 700;
font-family: Arial, Helvetica, sans-serif;
cursor: pointer;
}
.btn_submit:hover{
                background-color: blue;
                color: white;
            }
h2{
color:blue;
background-color:white;
}

.emplist{
background:url('../images/bg_emp.jpg')no-repeat center fixed;
background-size: cover;
}

.main_emplist{

    width:100%;
    border:3px solid #37373d;
    background-color:transparent;
    margin-top:5%;
    border-radius:10px;
    color:white;
}

.h2emp{
color:white;
background-color:#37373d;
text-align:center;
}

.table_head{
font-size:20px;
font-weight: 500;
}

.createlink{
margin-left:5%;
margin-bottom:1%;
}