<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="main_emplist">
                <h2 style="text-align:center;background:#37373d;color:white">Employee Details</h2>
<table class="table table-striped">
    <tr>
        <td class="table_head">Employee Name</td>
        <td>{{employee.emp_name}}</td>
    </tr>
    <tr>
        <td class="table_head">Designation</td>
        <td>{{employee.desig}}</td>
    </tr>
    <tr>
        <td class="table_head">Salary</td>
        <td>{{employee.salary}}</td>
    </tr>
     <tr>
        <td class="table_head">Location</td>
        <td>{{employee.location}}</td>
    </tr>


</table>
            </div>

        </div>
    </div>
</div>



</body>
</html>